<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--设置更新频率，取值为daily(每天更新一次)，weekly（每周更新一次）monthly（每月更新一次）-->
    <add key="frequency" value="daily"/>
    <!--定时任务启动时间-->
    <add key="start" value="2018-07-03T16:00:00"/>
    <!--设置在星期一或者星期二等时间启动 取值为mon ,tues,wed,thur,fri,sat,sun-->
    <add key="week" value="wed"/>
    <!--设置在那一天启动,只有在更新频率设置为每月更新的时候才设置取值1-31-->
    <add key="day" value="30"/>
  </appSettings>
</configuration>